[2015-11-22 21:04] Intellicode opened #1 "Enforce platform specific components"
When platform specific components are used, check that the filename includes the specific platform. For example when `LinkingIOS` is used, the component should be named `xxx.ios.js`

[2015-11-27 19:33] Intellicode opened #2 "Styles used in properties that are not named style are incorrectly marked as unused"
When style properties are used in JSX in non-style tags, they are marked as unused:

[code]

[2015-11-27 19:54] #2 closed

[2015-12-19 09:12] #1 closed

[2015-12-22 20:00] tomauty opened #6 "Conditional styles marked as unused"
Here's a truncated example:

[code]
[code]

`Unused style detected: styles.checked`

I would say if a style can be conditionally applied, it should be marked as 'used'. If you agree I can try for a PR.

[2015-12-22 20:49] Intellicode commented on #6
Excellent improvement, I can also try to fix it for you, it is a pretty common case I would think. Let me know!

[2015-12-22 22:11] tomauty commented on #6
Looking into it now since I might want to contribute some rules later, but feel free to make the change first. Still learning how the codebase works.

[2015-12-23 09:05] Intellicode commented on #6
Alright, let me know if you have any other React Native specific rules that you like to add.

[2015-12-29 16:46] Intellicode commented on #6
@tomauty Please let me know if the new rule works for you

[2015-12-29 20:23] tomauty commented on #6
Looks good. Thank you!

[2015-12-29 20:23] #6 closed

[2016-01-26 20:28] satya164 commented on #6
Still having this issue in latest release.

[2016-01-27 08:23] Intellicode commented on #6
@satya164 Can you provide an example snippet that triggers the issue for you? It could be an edge case I didn't think of or didn't implement (For example, I don't follow references)

[2016-01-31 20:34] Intellicode commented on #6
@satya164 closing the conversation for now, please open a ticket with details if you found a case that's not working for you

[2016-02-07 18:18] Intellicode opened #9 "[Idea] Enforce naming conventions"
To improve consistency within an app it is often desirable to name components in a structured way, for example:

* <entity>List
* <feature>Page
* <something>Scene
* <...>Notification

If there is any interest, please let me know by writing a comment

[2016-02-08 03:07] tomauty commented on #9
What are some examples of good/bad naming schemes for an app with a lot of components?

[2016-02-09 18:18] Intellicode commented on #9
@tomauty It came up in the Discord channels, but I haven't seen any examples of naming conventions in the wild. Feel free to come up with a proposal so we build upon it :). One thing I would like to achieve is to enforce some kind of consistency for cases like Scene vs Page, List vs Collection and Container vs Wrapper.

[2016-02-12 11:11] ckoo7 opened #11 "eslint error: 'react-native/no-unused-styles': Set is not defined"
Eslint terminated with this error
![screenshot from 2016-02-12 16-40-00](https://cloud.githubusercontent.com/assets/8359963/13005355/7817a16e-d1a7-11e5-9bba-7f428c57e865.png)

[2016-02-12 18:04] Intellicode commented on #11
Hi @ckoo7,

Thanks for reporting this, could you share which version of Node you are using?

[2016-02-15 07:27] anback opened #12 "Plugin broke when updating to eslint 2.0"
Here is error and version information

![image](https://cloud.githubusercontent.com/assets/2440382/13042128/d943b38e-d3bd-11e5-9483-ffab84b2dc73.png)

![image](https://cloud.githubusercontent.com/assets/2440382/13042132/e38bd2ea-d3bd-11e5-8d24-f0efcb3f0011.png)

[2016-02-15 17:21] Intellicode commented on #12
Cheers for the report, I didn't realise ESLint 2.0.0 was released already. Let me fix that for you :)

[2016-02-15 19:16] Intellicode commented on #12
@anback can you try version 1.0.0?

[2016-02-20 10:34] Intellicode commented on #11
@ckoo7,

I'm closing this issue for now, feel free to open with more details

[2016-02-20 10:34] #11 closed

[2016-02-28 15:21] Intellicode commented on #12
@anback Feel free to open an issue again if you still experience issues with ESLint 2.0.0. Closing this for now.

[2016-02-28 15:21] #12 closed

[2016-03-24 20:58] Intellicode opened #14 "Show warning when using an undefined style"
[code]
Should throw a warning regarding ```styles.name```

[2016-03-30 16:12] yelled3 opened #15 "no-unused-styles doesn't work with functions and vars"
when I added the rule for `no-unused-styles` to my project I got many errors.
most of them were due to styles dynamically loaded from functions or vars.

consider the following use cases:

[code]

my current solution is to wrap the erroring code with:

[code]

Thoughts?

[2016-03-30 21:12] Intellicode commented on #15
Hi @yelled3, thanks for opening a ticket for your problem! I can see how this rule is currently not suitable for your needs.

I think the following two changes will help:

1) If the index operator is used, no errors, for that stylesheet will be thrown. The responsibility lies with the developer to make sure all properties are used.
2) Styles should be marked as used when they are referenced anywhe

[2016-03-30 23:24] danielbuechele opened #16 "Set is not defined"
When running on circle-ci I get:
[code]
I guess this might come from the usage of `new Set()` here: https://github.com/Intellicode/eslint-plugin-react-native/blob/master/lib/rules/no-unused-styles.js#L58
Can we add `es6-set` as dependency or use `babel-runtime`? I found a similar issue on this project: https://github.com/benmosher/eslint-plugin-import/issues/41

[2016-03-31 07:21] Intellicode commented on #16
@danielbuechele Which version of Node are you running? Currently the project requires Node 4 (same as React Native) and according to my Travis build, it should work without problems.

[2016-03-31 08:46] yelled3 commented on #15
what's the index operator?

sounds about right.

Also, maybe some rule configuration can be used to define the level of strictness you want. then you can simply override them for specific files.

Thanks for the help @Intellicode

[2016-03-31 15:18] danielbuechele commented on #16
Ok, CircleCI is using node 0.10.33 by default. LOL
But I can set it up to use node > 4. So we can close this. Sorry for the confusion.

[2016-03-31 16:07] Intellicode commented on #16
No problem!

[2016-03-31 16:07] #16 closed

[2016-03-31 16:20] Intellicode commented on #15
@yelled3 The index operator is `[]`, to access properties dynamically. I think rule configuration is a good idea, for now please disable (or refactor code) the rule in files in which this problem occurs for you.

[2016-04-19 17:33] ianjohnspain opened #17 "Extends a recommended set of rules for native ?"
Hi,

I was checking over at the react plugin (non native) and I notice they offer some extending which sets up a recommended config.

`"extends": ["eslint:recommended", "plugin:react/recommended"]`

I was wondering if something exists in this plugin also ?

Thanks

[2016-04-19 18:32] Intellicode commented on #17
Nope, but this is a good suggestion, I'll have a go at it when I have a bit more free time, but feel free to submit a PR for this feature as well!

[2016-05-02 10:27] satya164 opened #18 "Wrong `no-unused-style` warning with conditional styles"
Sample code to reproduce:

[code]

ESLint output:

[code]

ESLint config:

[code]

[2016-05-03 19:13] #18 closed

[2016-05-03 19:14] Intellicode commented on #18
Thanks for reporting!

[2016-05-04 02:35] satya164 commented on #18
@Intellicode Awesome!

[2016-05-04 09:19] DanielZlotin opened #21 "update 1.0.1 broke eslint config with `"react-native/no-unused-styles": "error",`"
with `1.0.0` everything worked,
now I get:
[code]

removing the line `"react-native/no-unused-styles": "error",` OR reverting to 1.0.0 fixes the issue.

[2016-05-04 12:36] Intellicode commented on #21
Hi @DanielZlotin, apologies for breaking your code, I will fix it first thing tomorrow!

[2016-05-05 10:40] Intellicode commented on #21
@DanielZlotin I've released a potential fix, could you verify it works for you? I've been unable to reproduce your issue locally, so I would appreciate it if you could post a test case in which it feels so it can be added to the test suite.

[2016-05-05 12:20] benjick opened #22 "no-use-before-define"
Would it be possible to have some rule that StyleSheet.create-variables can be used before defined? If I understand correctly that is the best practice and that collides with `no-use-before-define`

[2016-05-05 16:37] Intellicode commented on #22
Hi @benjick, can you provide an example? If I add the following testcase to the testsuite, it works fine:

[code]

Is that what you are looking for?

[2016-05-10 17:05] DanielZlotin commented on #21
Works.
No idea how to reproduce it other than adding the mentioned line to the .lintrc

[2016-05-12 08:44] aarongreenwald opened #23 "new rules idea: no-inline-styles, no-color-literals"
Thanks for this plugin, these are useful rules.

I think it would be nice to be able to detect inline styles in components and either warn/error when detected. We prefer style objects over littering the components with object literals with styles in them.

(There are cases where inline styles are appropriate, like when they use props/state and aren't available outside the render method. These woul

[2016-05-12 14:35] aarongreenwald commented on #23
And tacking on to the no-inline-styles idea is a no-color-literals rule, something we use on the web with sass. Color definitions should be stored in variables so they can be reused throughout the application and updated easily instead of scattered throughout the stylesheets.

I am working on this one as well, both rules are working locally for me but I'd have to do some more cleanup before sendin

[2016-05-13 06:11] Intellicode commented on #23
Hi @aarongreenwald,

Sounds good, looking forward to your PR!

[2016-05-13 06:38] #21 closed

[2016-05-18 15:44] Intellicode commented on #23
Hi @aarongreenwald, I just released a beta which includes your PR changes, please try it, I promote it to a full release if no one complains in a week!

[2016-05-18 15:44] #23 closed

[2016-05-18 16:02] aarongreenwald commented on #23
@Intellicode Awesome, thanks! I'll use it and suggest that others do as well :)

[2016-05-20 17:00] benjick commented on #22
Hey, sorry for not replying. What happens if you run that code with this rule? http://eslint.org/docs/rules/no-use-before-define

[2016-05-24 08:09] aarongreenwald commented on #22
I have this problem as well - `no-use-before-define` doesn't like the common pattern of putting styles at the bottom of the component file. @Intellicode I think @benjick is suggesting a new rule to replace no-use-before-define that would make an exception for this case. In my own code, I disable `no-use-before-define` because I don't think it's that important, but I'm not sure how others feel abou

[2016-05-24 09:17] benjick commented on #22
@aarongreenwald Ah yes, thank you for explaining, you are correct

[2016-05-24 11:53] Intellicode commented on #22
I understand now, personally I define my styles at the top, but I guess it makes sense to define them at the bottom since they are closer to where they are used (the render method). I can add a rule that creates an exception for style sheets.

[2016-06-07 10:49] eladcandroid opened #25 "Error: Definition for rule 'react-native/no-inline-styles' was not found"
My .eslintrc file:

  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
   "env": {
        "browser": true,
        "node": true
    },
  "plugins": [
    "react",
    "react-native"
  ],
 "extends": ["eslint:recommended", "plugin:react/recommended"],
 "rules": {
    "react-native/no-unused-styles": 2,
    "react-n

[2016-06-07 13:28] Intellicode commented on #25
Did you install the plugin locally while running eslint globally?

[2016-06-10 16:28] jasonmerino commented on #25
I'm trying to get this setup this morning and running into the same issue. I am running the local ESLint along with a local `eslint-plugin-react` and this `eslint-plugin-react-native`.

My `.eslintrc` file looks like this.

[code]

And here's the versions of all the ESLint dependencies from my `package.json`.

[code]

Any help with this would be awesome. I'm going to try some other versions of thi

[2016-06-13 08:34] Intellicode commented on #25
@eladcandroid @jasonmerino please try to use the previous version (eslint-plugin-react-native-1.0.2), I will investigate the issue tonight

[2016-06-13 20:08] Intellicode commented on #25
@eladcandroid @jasonmerino please have a look at https://github.com/Intellicode/eslint-react-native-example. I have tried and tested the configurations. The problem is that:
```  "react-native/no-inline-styles": "error",``` is not part of any version installed by`^1.0.2` but is part of `1.1.0-beta` which is not considered since its a pre-release. If you want to have access to the rule, you should

[2016-06-13 20:08] #25 closed

[2016-06-25 14:46] prithsharma commented on #22
Is this done yet?

[2016-06-28 14:00] enapupe opened #28 "magic numbers inside stylesheet"
Hello, I was wondering how to properly setup this plugin in order I stop getting warnings like `9:15  warning  No magic number: 20   no-magic-numbers` within styles block such as:
[code]

This plugin offers any solution to this matter?

[2016-06-28 20:17] Intellicode commented on #28
The warnings are caused by a rule that is not part of this plugin, you can disable that particular rule for each stylesheet block with inline eslint-disable comments or you can disable this rule in your .eslintrc.

If a rule like this would be defined in this plugin it could perform similar checks except in white listed scenario's such as certain style rules.

[2016-06-28 20:18] Intellicode commented on #22
@prithsharma nope.

[2016-06-28 20:29] enapupe commented on #28
So you are saying the only options are adding comments OR disabling the magic number verification completely?

[2016-06-29 20:36] enapupe commented on #28
The issue is, using no-magic-numbers is painful with react-native stylesheets.
Do you think this plugin could address this issue?

[2016-06-29 21:23] tomauty commented on #28
It might be fruitful to create a `no-magic-numbers` in this repo, like intellicode said.

[2016-06-29 21:46] enapupe commented on #28
I don't know very much about eslint stuff and hierarchy.. @tomauty do you see any way to accomplish this kind of validation? Could you point me some directions? Ty!

[2016-06-30 11:46] aarongreenwald commented on #28
@enapupe it takes a bit of practice to get the hang of writing lint rules, but you can piggy-back on someone else's work by trying to modify an existing rule. The first thing is to see where the `no-magic-numbers` rule comes from and see if you can see a place in the code you can modify it to ignore StyleSheet rules. You can also look in this repo to see how @Intellicode determines a node is part

[2016-06-30 14:00] enapupe commented on #28
@aarongreenwald thank you very much for such explanation. So I'd probably develop a small plugin which extends `no-magic-numbers`.. I like the approach, thanks for sharing !

[2016-06-30 20:16] Intellicode commented on #28
@enapupe Actually, if you don't mind sharing it I'm up for including it in the plugin.

[2016-06-30 20:53] enapupe commented on #28
I wouldn't mind sharing, but right now I already have too much new software to study, so, I'm not gonna do this anytime soon..

[2016-07-09 09:51] damusnet opened #32 "no-unresolved for react native"
Basically, could [the settings in this issue](https://github.com/benmosher/eslint-plugin-import/issues/279#issuecomment-215052176) be included in the `eslint-plugin-react-native`?

[code]

[2016-07-10 09:30] Intellicode commented on #32
@damusnet That sounds useful, let me look into it!

[2016-07-13 14:34] ColCh commented on #22
@aarongreenwald +1 to You.
See also `.eslintrc` from `react-native` team: https://github.com/facebook/react-native/blob/8baaad9b0fbda2b02bb1834452aa63cac7910dc5/.eslintrc#L162
They just turned the rule off 😆
Ok, I will just follow them and turn it off too.

[2016-07-14 12:48] machadogj opened #38 "Support for browser-like globals"
React Native ships with some polyfills that mimic the interface from browsers (ie: setInterval, clearInterval, Geolocation API, etc...). It would be cool to have these in react-native to avoid using env: browser: true.

[2016-07-20 12:37] deepaksisodiya opened #41 "showing error when using "react-native/no-color-literals": 2"
<img width="1119" alt="screen shot 2016-07-20 at 6 06 55 pm" src="https://cloud.githubusercontent.com/assets/3258231/16986557/c90d0b70-4ea4-11e6-942f-c6b5462494b4.png">

[2016-07-21 07:20] huchenme commented on #41
same here

[2016-07-22 21:45] #41 closed

[2016-07-23 17:54] Intellicode commented on #41
@deepaksisodiya @huchenme Please try the new version, if possible provide a code sample that causes this crash. Most likely there are some properties in your stylesheets that are not common.

[2016-07-25 02:09] huchenme commented on #41
actually all of 4 plugins have problem on my repo: https://github.com/huchenme/30daysOfReactNative, some are ok when run `eslint`, but problematic while using atom linter plugin, it throw errors while typing

[2016-07-27 19:37] Intellicode commented on #41
@huchenme it will be helpful if you could post other errors related to that, I can fix them when you encounter them. If possible, mention the particular code you were typing at that point.

[2016-08-02 16:24] antoinerousseau commented on #41
error with `no-inline-styles`:

[code]

error with `no-color-literals`:

[code]

[2016-08-02 16:42] antoinerousseau commented on #41
I added some logging to that `stylesheet.js:364`, so in my case it happens when the parser bumps into a spread operator (eslint node type: `ExperimentalSpreadProperty`).

Example:
[code]

I'm making a PR.

[2016-08-13 01:59] antoinerousseau commented on #15
any update on this? This doesn't work for example:
[code]

[2016-08-13 13:07] Intellicode commented on #15
Sorry, I have not been developing React Native apps recently, hence I haven't had a personal motive to work on the issue yet, but I definitely see it as a valid case that should be checked. I´m considering to stop throwing warnings when styles are referenced anywhere in the code, will that work for you @antoinerousseau?

[2016-08-14 17:29] antoinerousseau commented on #15
Yeah I think that'd be enough right?

[2016-08-23 18:43] randycoulman opened #60 "TypeError in no-unused-styles rule"
When I'm working in Atom with the linter-eslint plugin, I often encounter a `TypeError` that originates in the `no-used-styles` rule while I'm typing.  I have linter-eslint configured to lint as I type.

I have found that the code that triggers the error contains the fragment `<View style>`.  So, I'm in the process of adding style information, but before I can add the `= {}`, I get the type error.

[2016-08-24 18:15] Intellicode commented on #60
Thanks for your detailed explanation, this might be addressed by https://github.com/Intellicode/eslint-plugin-react-native/pull/59, I hope to have a fix for this soon!

[2016-08-24 18:26] randycoulman commented on #60
Sounds good, thanks!

[2016-09-08 13:44] bbrock25 commented on #32
additionally, is there a way to have eslint pick up on the [Static Image Resources](https://facebook.github.io/react-native/docs/images.html#static-image-resources)

ie: files that are named as follows:
`"file-name@1x.png", "file-name@2x.png", "file-name@3x.png"`
but referenced as: `require("../images/file-name.png")`

[2016-10-02 21:59] degroote22 opened #81 "Conditional Style Marked as Inline"
Currently I'm getting flagged for this.

[code]

Is this really some anti-pattern?
Thanks for your time.

[2016-11-06 07:38] afdalwahyu opened #92 "TypeError: Cannot read property 'type' of null"
my error when i type style attribute:

[code]

.eslintrc rules that make eslint show error

[code]

I'm using

[2016-11-17 18:39] #17 closed

[2016-11-17 18:48] Intellicode commented on #92
Sorry for the late response, can you please try the latest release?

[2016-11-17 18:50] Intellicode commented on #81
Hi, sorry for the late response, I guess it depends on the team if you decide its an anti-pattern. Of course there are cases where you can't get around this, but it would also be possible to define a style specifically for that case and only assign it if left === 0, instead of just the property. It is completely up to you :)

[2016-11-17 18:51] Intellicode commented on #38
Let me see what I can do, I agree these would be nice to have.

[2016-11-19 09:38] afdalwahyu commented on #92
Still got the same error. i'm using `yarn upgrade eslint-plugin-react-native`

[2016-11-19 12:22] Intellicode commented on #92
Can you post your latest stacktrace? In the current code, it should be fixed at where you got the error:

https://github.com/Intellicode/eslint-plugin-react-native/blob/eslint-plugin-react-native-2.1.0/lib/util/stylesheet.js#L314

[2016-11-20 11:11] afdalwahyu commented on #92
[code]

i've got this error when typing `style=`

[2016-11-20 12:23] Intellicode commented on #92
Thanks for your reply, I will investigate it, which editor do you use?

[2016-11-20 13:21] afdalwahyu commented on #92
I'm using atom with linter & linter-eslint packages.
here is my .eslintrc file, idk maybe helpful or not :)
[code]

[2016-11-26 18:41] #15 closed

[2016-11-29 22:41] Intellicode commented on #92
I believe the latest version does not have these lines, can you check what happens for you now?

[2016-11-30 02:55] afdalwahyu commented on #92
I'm upgrading and it's works perfectly.
I'm upgrading from 2.0.0 to 2.2.0 and it works now.
Thanks for your good work :+1:

[2016-11-30 02:55] #92 closed

[2016-12-06 13:15] koenpunt commented on #38
Would be nice, yes!

[2016-12-06 13:17] koenpunt commented on #38
This list should be sufficient I think: https://github.com/facebook/react-native/blob/master/.eslintrc#L19-L52

[2016-12-07 17:27] randycoulman opened #109 "TypeError in no-inline-styles rule"
This is similar to #60, but now occurs in the `no-inline-styles` rule instead of the `no-unused-styles` rule.  It looks like #60 was fixed in 2.2.0, but that has now exposed this new issue.

When I'm working in Atom with the linter-eslint plugin, I often encounter a `TypeError` that originates in the `no-inline-styles` rule while I'm typing.  I have linter-eslint configured to lint as I type.

I h

[2016-12-07 17:28] randycoulman commented on #60
This appears to have been fixed in 2.2.0 by #59.  But see #109 for a similar error that now appears in the `no-inline-styles` rule.

[2016-12-07 17:28] #60 closed

[2016-12-10 10:06] Intellicode commented on #109
Thanks for the report, I'll look into it!

[2016-12-11 21:38] #109 closed

[2016-12-23 05:02] nishitaniyuki opened #112 "`eslint` and `babel-eslint` should be listed in `devDependencies`."
[Referring to yarn doc](https://yarnpkg.com/en/docs/dependency-types#toc-dependencies):

And I think `dependencies` in this repo (`eslint` and `babel-eslint`) should be listed in `devDependencies`.

Why [In this commit](https://github.com/Intellicode/eslint-plugin-react-native/commit/c3d99e47a5475b2eb3c331234fc6020a7cf58f9e?diff=split#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) did you move them to `de

[2016-12-23 22:36] Intellicode commented on #112
Probably eslint should go into peer dependencies, I guess I wanted to do that in that commit

[2016-12-24 02:26] nishitaniyuki commented on #112
Thank you for your answering😀

Both `babel-eslint` and `eslint` are needed in development (testing and linting is a part of dev flow), so they should be listed in `devDependencies`.
And it is expected that `eslint-plugin-react-native` are used with `eslint`, so `eslint` should also be listed in `peerDependencies`, I guess.

I'll make PR, then please check it😁
(However I'm out right now, it takes a

[2017-02-01 20:54] matthargett opened #119 "warn when setState is called inside render()"
Was listening to this awesome conversation between @kentcdodds @gaearon @acdlite where they mentioned a React Fiber regression where an internal application was calling setState from within render which "you are not supposed to do". The discussion is at about the ~00:38:00 mark in this video:
https://www.youtube.com/watch?v=crM1iRVGpGQ

It would be great to have this as a rule.

[2017-02-01 20:55] matthargett commented on #119
oops, wrong repo.

[2017-02-01 20:55] #119 closed

[2017-02-07 06:03] JSafaiyeh opened #124 "no-unused-styles does not support destructuring assignment"
The styles are are marked as errors when the styles are destructed. [Destructuring Assignment](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment)

[code]

[2017-02-07 19:11] Intellicode commented on #124
Thanks for the issue, that should definitely be supported.

[2017-02-14 14:40] robcalcroft opened #125 "no-unused-styles doesn't support conditional styles"
[code]

[2017-02-15 20:25] Intellicode commented on #125
Thanks for reporting, feel free to open a PR or wait until I have time to look into it :)

[2017-02-23 05:44] RobertSheaO opened #129 "Spread operator in StyleSheet causes linter to crash"
When I define a StyleSheet with a spread operator, the linter crashes.

###### Version
`"eslint-plugin-react-native": "^2.2.1",`

###### StyleSheet
[code]

###### Error
[code]

###### Workaround
[code]

###### Related Tickets
Handle unrecognized eslint nodes in style rules helper #49
update 1.0.1 broke eslint config with `"react-native/no-unused-styles": "error",` #21

[2017-02-26 19:46] Intellicode commented on #129
Thanks for reporting, feel free to submit a PR request or wait for a fix to be released!

[2017-03-03 15:39] gabmontes opened #130 "Split platform components rule not parsing imports"
The `split-platform-components` rule only parses the components on destructuring assignments taken from the `React` variable.

One common practice is to import the components directly from `react-native`:

[code]

Please consider adding that pattern to the rule.

[2017-03-05 21:28] Intellicode commented on #130
Fixed by https://github.com/Intellicode/eslint-plugin-react-native/pull/131

[2017-03-05 21:28] #130 closed

[2017-03-06 04:49] vovkasm opened #133 "UNMET PEER DEPENDENCY eslint@3.17.0"
eslint-plugin-react-native 2.3.0 now requires eslint 3.12.1 to be installed on project (`peerDependencies`). But latest commits clear about real required version of eslint, it should be 3.17.0 (as in `devDependencies`).

Seems like greenkeeper.io bot ignores `peerDependencies`.

[2017-03-06 15:47] StevePotter commented on #133
@vovkasm  I submitted a PR for this.   Please upvote it.  @Intellicode can you look at it?

[2017-03-06 17:52] Intellicode commented on #133
@vovkasm Should be fixed now. @StevePotter thanks for your PR. Sorry for the issue! I guess we can't blindly use greenkeeper :)

[2017-03-06 17:52] #133 closed

[2017-03-06 19:48] vovkasm commented on #133
Thank you!

[2017-03-06 20:36] StevePotter commented on #133
No problem have a great day

[2017-03-08 03:27] xareelee commented on #32
Hi, I encounter a problem with `require()` for images.

[code]

and ESLint reports the error (import/no-unresolved):

[code]

How do I do to resolve this problem?

[2017-03-29 13:14] jbreuer95 commented on #124
+1

[2017-04-10 15:37] #129 closed

[2017-04-18 11:37] gustavjf commented on #32
@bbrock25 Have you found a solution for this?

[2017-04-20 00:41] bbrock25 commented on #32
@gustavjf I haven't been working in RN lately, I'm pretty sure we ended up ignoring those imports :(

[2017-04-21 15:48] ncuillery opened #144 "[Feature request] Rule no-undefined-styles"
After a refactoring, I left my code with undefined entries in the StyleSheet. No errors at runtime but it has lead to cosmetic bugs, hard to catch.

It would have been great if eslint had warned me.

Example of invalid code: (`styles.startButton` and `styles.disabled` aren't defined)
[code]

This rule would be kind of the opposite of `no-unused-styles`.

[2017-04-23 15:27] Intellicode commented on #144
It's on my list for quite a while, if you want to make a PR to get things going I'm more than happy to integrate it in the library. For time being lets keep track of this feature in the previous issue: https://github.com/Intellicode/eslint-plugin-react-native/issues/14

[2017-04-23 15:27] #144 closed

[2017-06-05 19:56] Baptiste-Garcin opened #156 "Detect not imported element"
I often loose my mind looking for vicious a bug whereas I only forgot to import one of the native elements I am using... The no-undef classic rule is not triggering.

Is there a walk around ?

Thanks

[2017-06-05 21:49] Intellicode commented on #156
Hi, could you post an example of this? I personally have not had any issues related to this.

[2017-06-16 21:25] Baptiste-Garcin commented on #156
Hi,

I am sorry, it took me ages... Bad news I had to change computer, good news I fully reinstalled my set up and so I can provide you with genuine information.

Eslint doesn't detect not imported native element (such as Text). I tested with atom linter and in command line, on Mac and on Debian.

I deleted Text from the imports and add an unused test variable in my code.

![screenshot from 2017-0

[2017-06-19 20:43] michaelgmiller opened #158 "Support eslint v4"
When installing with eslint@4.0.0, I get:
npm WARN eslint-plugin-react-native@2.3.1 requires a peer of eslint@^3.17.0 but none was installed.

[2017-06-21 18:23] Intellicode commented on #158
I'm planning to update as soon as my dependencies are also compatible with eslint 4.0.0, so far there are a few that are not compatible yet.

[2017-07-01 09:17] noamokman commented on #158
Whats missing?

[2017-07-03 18:28] Intellicode commented on #158
Basically, I'm using eslint-plugin-airbnb to lint the plugin itself, but it might not be worth it anymore to use it since it delays quickly updating to newer versions.

[2017-07-04 00:22] Palisand opened #163 "split-platform-components and Platform module / Expo"
Seeing as how many eslint question seem to be ignored on StackOverflow, I've decided to ask this here.

Should the [split-plaform-components rule](https://github.com/Intellicode/eslint-plugin-react-native/blob/master/docs/rules/split-platform-components.md) be ignored when developing an RN app with Expo? In a more general sense, is there a subset of rules that shouldn't apply to apps being develop

[2017-07-11 18:16] gusgard opened #165 "no-unused-styles doesn't work when imporing from file"
`import styles from './styles';`
Should work If I import the styles from a file instead of the same js file? Or is not implemented yet.

[2017-07-14 06:46] hpsuenaa opened #166 "no-unused-styles shows error when style object property names are quoted"
no-unused-styles reports unused style detected when the style object property names are quoted

[code]

[2017-07-19 20:08] Intellicode commented on #163
In your particular example, you probably should put your platform dependend component into the *.ios.js and *.android.js pattern, and use it like this
```import SomeComponent from './component',```
For which the React Native bundler will automatically resolve the correct component per platform.

[2017-07-19 20:08] Intellicode commented on #165
Its only implemented for the same file at the moment

[2017-07-20 22:20] #163 closed

[2017-07-24 08:02] kelset commented on #158
Airbnb [just released](https://github.com/airbnb/javascript/issues/1447#issuecomment-317335861) a new version, 15.1.0, that supports v4 - is there any other dependency you are waiting on? Would a PR help? Can't wait to test the new eslint :3

[2017-07-24 08:26] ljharb commented on #158
@Intellicode nothing wrong with letting a new major version of eslint bake for a little while :-p

[2017-07-24 20:19] Intellicode commented on #158
@kelset done!

@bspaulding, I had trouble getting your unit tests with regex options to work with the new eslint plugin, so please let me know if I broke something!

[2017-07-25 15:42] xahon opened #169 "Undefined StyleSheet not showing as error"
If you use `StyleSheet.create({})` without `StyleSheet` import it causes no error

[2017-08-03 19:11] sibelius commented on #158
any progress on this?

[2017-08-03 19:20] sibelius commented on #158
`react-native/no-inline-styles` is working on v4

`react-native/no-unused-styles` is not

[2017-08-03 21:12] stief510 opened #171 "ecmaFeatures error"
I am getting

[code]

when using this as my `.eslinrc` file

[code]

[2017-08-03 21:21] #171 closed

[2017-08-03 23:00] Intellicode commented on #158
@sibelius can you provide details?

[2017-08-04 17:53] austinamorusotraceme opened #172 "Does not work with react native web"
This does not detect unused styles in react native web.

https://github.com/necolas/react-native-web

[2017-08-05 18:13] greenkeeper[bot] opened #173 "An in-range update of eslint is breaking the build 🚨"
## Version **4.4.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Intellicode/eslint-plugin-react-native/compare/greenkeeper%2Feslint-4.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=l

[2017-08-10 21:58] Intellicode commented on #172
Thanks for reporting this, at the moment I do not personally develop React Native Web based applications, but I'm happy to accept PR's.

[2017-08-10 22:00] Intellicode commented on #169
Thanks for reporting this request. Currently, this is not covered by any existing lint rules by the plugin. A new one would be an option. If it is something you encounter often, can you make a PR that covers this case?

[2017-08-11 10:48] xahon commented on #169
No, i just randomly found that. If i will have enough time i'll try

[2017-08-17 13:53] sibelius commented on #158
it started working again, I restarted my webstorm

[2017-08-22 12:09] oximer commented on #165
I´m also interested on this feature. Do you have it on your roadmap?

[2017-08-24 22:33] Intellicode commented on #165
At the moment, I do not have any roadmap and I'm also not actively developing new features. If you need it fast, you could help out by writing a PR :)

[2017-09-06 04:34] agarcia17 commented on #169
@xahon, could it be that you have "browser": true in your eslint env property? Cause I believe browsers have a global "StyleSheet" variable

[2017-09-06 04:36] xahon commented on #169
@agarcia17 yes, browser set to true

[2017-09-06 04:44] agarcia17 commented on #169
@xahon, try setting it to false and restart VS Code and see if the issue still persist

[2017-09-06 04:45] xahon commented on #169
@agarcia17 I'm not using vs code, but vim. I'll check it later

[2017-10-25 06:54] bspaulding commented on #158
@Intellicode Sorry I just saw this notification, just updated to eslint 4 with 3.1.0 of this, LGTM. 👍

[2017-10-26 08:18] MaxAggedon commented on #38
Any update on this ?

[2017-10-26 20:09] Intellicode commented on #38
Hi @MaxAggedon unfortunately not, but I'll be happy to accept a PR for this!

[2017-10-28 09:22] maxaggedon commented on #38
@Intellicode thanks for the answer, I will try to look into it if I find the time.

[2017-11-17 03:23] zhangyu921 opened #181 "Environment key "react-native/react-native" is unknown"
"eslint": "^4.11.0",
"eslint-plugin-react": "^7.4.0",
"eslint-plugin-react-native": "^3.1.0",

And, this is my .eslintrc.json

[code]

[2017-11-22 22:07] Intellicode commented on #181
Apologies for not pushing a new version more early, I just did it, and hopefully this bug can be closed now.

[2017-12-07 10:11] beeglebug opened #182 "accessing styles using bracket notation counts as a failure"
I would expect the following to pass, but it does not.

[code]

[2017-12-08 22:11] Intellicode commented on #182
hi @beeglebug, in this case it might be possible to inline the key, but for more complex cases where `bar` is dynamic it will be hard to infer which styles are referenced. In these cases you might want to disable the rule for that specific line

[2018-01-04 14:32] #81 closed

[2018-01-06 11:01] skovhus commented on #165
@Intellicode I would like to help out with this feature.

Could you give me some hints, as I haven't written any eslint plugins for a while and never something that accessed multiple files.

[2018-01-07 12:41] #158 closed

[2018-01-07 12:41] Intellicode commented on #181
If you still experience any issues, feel free to re-open this issue.

[2018-01-07 12:41] #181 closed

[2018-01-07 12:47] Intellicode commented on #165
@skovhus Cool to hear you want to give it a shot!

I suppose you would need to start by analyzing the file which uses the styles to detect which variables are used in `style` attributes. You need to follow them back to the imports, and then parse the imported files to match the imported variable against an exported variable. In this file you would also need to check which variables have a StyleShe

[2018-01-11 07:41] Intellicode commented on #38
Should be fixed in 3.2.1

[2018-01-11 07:41] #38 closed

[2018-01-23 20:06] daku opened #184 "Globals no longer includes navigator.geolocation"
Hope the title makes sense. Not the most familiar with ESLInt rules etc. I've had to do the following to suppress for the moment:

[code]

[2018-01-29 19:55] martinmacko47 opened #185 "no-inline-styles fails with unary minus"
Assume component:

[code]

Then `no-inline-styles` reports:

[code]

It fails to recognize that `-this.props.margin` is an expression. It does not report for `this.props.margin` (without the minus sign) nor for `-1 * this.props.margin`.

eslint-plugin-react-native version: 3.2.1
eslint version: 4.16.0

[2018-01-31 17:12] jay1337 opened #186 "Rule to detect JSX text not in a Text component"
In some components such as View, text can not be placed directly inside (it must be wrapped with a Text component).

Could you add a rule for this ? Ideally list of standard component forbidding direct use of text could be completed with a rule configuration.

[2018-02-01 17:52] Intellicode commented on #186
Excellent idea! I'll see if I can have a go at it

[2018-02-01 17:55] Intellicode commented on #185
This rule is about not allowing inline styles, It should report the same for the other cases though

[2018-02-01 19:00] martinmacko47 commented on #185
[Documentation](https://github.com/Intellicode/eslint-plugin-react-native/blob/master/docs/rules/no-inline-styles.md) says:

Clearly both `this.props.margin` and `-this.props.margin` are variable values.

[2018-02-01 19:09] Intellicode commented on #185
@martinmacko47 you can still disable this rule for these specific cases, or you can create a PR to solve this issue :)

[2018-02-01 19:26] martinmacko47 commented on #185
I worked around it using `-1 * this.props.margin` instead of `-this.props.margin`.

I'll create a PR when I'll get to it. Assuming I'll be able to fix it.

[2018-02-17 19:39] cwRichardKim commented on #22
https://stackoverflow.com/questions/42981070/eslint-no-use-before-define
This is probably a better solution: `"no-use-before-define": ["error", { "variables": false }]`. Makes it target variables only

[2018-02-21 22:11] aditya-kappagantula opened #187 "Detect computed properties in constructor"
[code]
In the above example, `WelcomeBar` is re-rendered by `WelcomePage` when `someMethod` is executed. However it doesn't update the fullName.
This could have been avoided by listening to the deprecated `componentWillReceiveProps` or the `getDerivedStateFromProps`. However, this kind of code is smell to be in the first place. Can this be detected in es-lint please?

[2018-03-05 21:05] alex288ms commented on #185
I sent a PR #188 that fixes this issue

[2018-03-06 20:34] thijssteel opened #189 "Composing stylesheets counts as failure"
By using the following syntax `const style = {...commonStyle, ...specificStyle}`. I can combine two stylesheets into one.

However, even though the styles are used through the `style` object, the styles from the `specificStyle` sheet count as unused.

[2018-03-16 21:32] GitTom opened #190 "The 'ecmaFeatures' config file property is deprecated"
The docs suggest

[code]
But for me, using eslint 4.19.0, I get the following warning:

[2018-03-16 23:13] GitTom commented on #190
I think the solution is to use this instead
[code]

[2018-04-19 03:14] LRFILE opened #191 "Headers still get error "no-undef""
my code like:
option: {
    method: 'POST',
    headers: new Headers({
      'X-Api-Key': 'xxxxxxxxxxxxxxxx',
      'Content-Type': 'application/json'
    })
  }

then eslint tell me "no-undef" at Headers

[2018-04-24 20:40] Intellicode commented on #187
Hi @aditya-kappagantula, this may be more suitable to do in https://github.com/yannickcr/eslint-plugin-react/issues

[2018-04-24 20:40] #187 closed

[2018-04-24 20:41] Intellicode commented on #189
@thijssteel thanks for reporting! I guess this is a good improvement to add

[2018-04-24 20:42] Intellicode commented on #190
Hi @GitTom, thanks for reporting, feel free to make a PR with an update!

[2018-04-24 20:43] Intellicode commented on #191
Hi @LRFILE, I think you are in the wrong repo

[2018-04-24 20:43] #191 closed

[2018-05-21 15:53] DimitarNestorov opened #192 "no-empty-styles"
Had an idea for a rule to throw in this case:
[code]

[2018-05-29 12:37] elie222 opened #193 "Why are these rules specific to React Native?"
Shouldn't these rules apply to all React projects?

[2018-05-29 20:25] MohamadKh75 opened #194 "Added in default node_modules"
I want to configure the default node_modules when I use:

    react-native init NAME

Every time I use init command, I see a `eslint-plugin-react-native` package is installed by default!

I tried to uninstall it globally but no difference!

    npm uninstall -g eslint-plugin-react-native

How I can remove a package from default packages?

[2018-06-07 16:20] Intellicode commented on #193
Rules that apply to all React projects can be found in the `eslint-plugin-react` project. The rules in this plugin are specific to React Native API's such as StyleSheets and platform based (.ios/.android) components.

[2018-06-07 16:20] #193 closed

[2018-06-07 16:21] Intellicode commented on #192
Hi @dimitarnestorov, that would be a great optimization!

[2018-06-07 16:35] Intellicode commented on #194
Hi @MohamadKh75, it is a dependency of react-native itself so thats why its installed by default.

[2018-06-07 16:35] #194 closed

[2018-06-08 09:49] pr0da opened #195 "Default exports and no-color-literals"
Hi!
The `no-color-literals` does not mark the following case as error:

[code]

If I pull out the stylesheet into a variable and export that, than it works as expected.
[code]

The first version should omit an error as well.

[2018-06-15 20:13] Martian2Lee opened #196 "Does this support typescript?"
Does eslint-plugin-react-native suport typescript?

[2018-06-22 16:08] serhiipalash commented on #185
@Intellicode can you make new release with this fix?

I still see this error. I think it's because the last one release was on Jan 11 and this bug fix was merged on Mar 5.

Thanks!

[2018-06-22 21:26] prithsharma opened #197 "Rules related to styles object don't work for all definition styles"
Version: 3.2.1

I have noticed that rules like `no-unused-styles` and `no-color-literals` don't work if styles are defined as
[code]

They start working if the definition is made as
[code]
I want to prefer keeping the style definitions at the bottom of the file(as others also expressed in other issues) but not at the expense of disabling the `no-use-before-define` rule for `variables`(which is men

[2018-07-02 21:12] Intellicode commented on #197
Hi @prithsharma,

This is possible, I guess you could modify the rule to handle variable assignments a bit more flexible

[2018-07-02 21:13] Intellicode commented on #196
Hi @Martian2Lee, this plugin is specifically made for eslint. For typescript, usually people use tslint, which might have a similar plugin (I haven't checked).

[2018-07-17 08:47] alex-saunders opened #199 "a11y linting"
This project currently includes eslint-plugin-jsx-a11y for (mostly) web-oriented accessibility linting. Would the project also consider an eslint plugin for (specifically) react native accessibility? This project: https://github.com/FormidableLabs/eslint-plugin-react-native-a11y has just launched and I think it would be a great addition.

Would be interested to hear what you think!

[2018-07-17 21:33] harveysingh1 commented on #190
The solution by @GitTom fixed this for me too!

[2018-07-17 22:10] Intellicode commented on #199
Hi @alex-saunders, I'm definitely open to this. The plugin you mentioned was only included due to the fact that it was a peer dependency of eslint-plugin-airbnb I believe, so its only a dev dependency. How would you like to include the a11y plugin? I'm also open to merging the two plugins, to save React Native developers from an extra dependency.

[2018-08-16 09:26] alex-saunders commented on #199
Hey @Intellicode , sorry about the slow reply on this, I got super busy this past month.

I was thinking that react-native-a11y would fit as an extension of the `all` config that this plugin provides.

I.e:
[code]

If you can think of a more appropriate way to include the plugin, I'm open to suggestions!

[2018-08-21 09:09] alex-saunders commented on #199
Hey @Intellicode ,

I totally understand why you'd be concerned over extending the config. My thinking was that if a developer has spefically defined that they want to use the `all` config from `eslint-plugin-react-native` then they would want every eslint rule that may be applicable to react native development, including accessibility.

How would this work if `eslint-plugin-react-native-a11y` was

[2018-08-23 18:44] Intellicode commented on #199
@alex-saunders That's true, it's not an out-of-the-box experience that way. Without the plugin, it will crash. However, that makes me think the config should live somewhere else, for example in a config like eslint-config-airbnb or similar that provide recommended configs accross plugins. I guess we should do that or merge code bases.

[2018-08-28 10:40] alex-saunders commented on #199
@Intellicode Good point, perhaps as eslint config project would be better suited to adopt `eslint-plugin-react-native-a11y`, I'll look into which projects might benefit from it!

[2018-08-28 10:40] #199 closed

[2018-09-05 11:25] slavikdenis commented on #196
@Intellicode I did not find anything similar :(
@Martian2Lee did you?

[2018-09-06 04:03] Martian2Lee commented on #196
@slavikdenis Nope~

[2018-10-02 13:13] AleksandrZhukov commented on #186
https://github.com/Intellicode/eslint-plugin-react-native/pull/201

[2018-10-02 13:58] lefloh commented on #186
Awesome! I was just searching for a rule like that.
One question: Will this also prevent the following example:
[code]
React Native does not evaluate `foo` as `falsy` but tries to render an empty string here.

[2018-10-02 16:34] AleksandrZhukov commented on #186
no, this one is the only case that can't be handled or I didn't understand how 😄

[2018-10-02 17:41] lefloh commented on #186
Yes, I know. Problem is to not forget about that while writing code...
Would be great if eslint could remind you ;)
Thanks anyways!

[2018-10-12 02:46] dantman commented on #186
Needs the ability to configure it. i.e. So you can add 'CustomStyledText' to valid text nodes if you use a Text wrapper to provide standardized text styles through your app.

Sadly even with that this quickly falls apart for me because I use `styled.Text` a lot to provide locally styled Text components. And there are a few outliers like react-native-paper providing a `<Button>` that accepts text.

[2018-10-12 11:32] draperunner opened #203 "Illegal whitespace not found by no-raw-text"
We just encountered a problem which we hoped `no-raw-text` would find, but it does not. The problematic case is when extra whitespace is padded around the curly brackets when referencing from JSX from a variable like so:

[code]

I am not sure what the proper logic would be, because not all whitespace is illegal (newlines, etc.) You can add the following tests to `tests/lib/rules/no-raw-text.js` t

[2018-10-12 11:47] draperunner opened #204 "no-raw-text fails for custom components (add ignore option?)"
Problematic case with custom components:

[code]

Problematic case with [jsx-control-statements](https://github.com/AlexGilleran/jsx-control-statements):

[code]

Both these cases could be solved with a blacklist/ignore option for the `no-raw-text` rule. For example

[code]

[2018-10-12 18:03] dantman commented on #186
Styled example:
[code]

Example of a "standard" <Text> wrapper:
https://github.com/material-native/material-native/blob/master/src/MaterialText.js

[code]

Or a port of MUI's Typography: https://material-ui.com/style/typography/

[2018-10-13 15:53] AleksandrZhukov commented on #203
Fixed here https://github.com/Intellicode/eslint-plugin-react-native/pull/205

[2018-10-13 15:53] AleksandrZhukov commented on #204
Added here https://github.com/Intellicode/eslint-plugin-react-native/pull/205, but called it as `skip` :)

[2018-10-13 16:01] AleksandrZhukov commented on #186
@dantman Fixed here https://github.com/Intellicode/eslint-plugin-react-native/pull/205

PS. Quite funny that you call your library as standard 😄

[2018-10-13 18:09] dantman commented on #186
Standardized within an app, anyone can make their own with the typography rules for their app. That's just an example of an old one I made to wrap Text with Material Design typography classes.

[2018-10-15 20:30] Intellicode commented on #204
@AleksandrZhukov made a release, thanks!

[2018-10-16 08:56] AleksandrZhukov commented on #204
mb we can close this issue?

[2018-10-16 16:46] draperunner commented on #204
Looks good to me!

[2018-10-16 16:46] #204 closed

[2018-10-16 16:46] draperunner commented on #203
Great!

[2018-10-16 16:46] #203 closed

[2018-10-18 14:46] checkmatez commented on #196
Yeah, I am searching for tslint analogue too :(

[2018-11-29 09:39] sudo-suhas commented on #196
It works for the most part if you use [`typescript-eslint-parser`](https://github.com/eslint/typescript-eslint-parser).

[2018-11-29 09:55] sudo-suhas opened #208 "Incompatiibility with ESLint v5 AST"
I originally faced issues when trying to use this plugin with `typescripr-eslint-parser@v21.0.1` and reported it here - eslint/typescript-eslint-parser#572.

Copying over some of the relevant details:

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
No errors should be reported. The code if formatted by prettier.

**What happened?**

[code]

<details>
<summary>M

[2018-11-30 01:04] KeevanDance commented on #190
I will go ahead and submit a pull request for this in the docs since I don't see one open, and the issue is still present.

[2018-12-02 11:02] jasonschock opened #210 "`no-raw-text` fails on line breaks"
I don't expect `no-raw-text` to fail in this case according to [the tests](https://github.com/Intellicode/eslint-plugin-react-native/blob/master/tests/lib/rules/no-raw-text.js#L53-L65), but it does for me.

[code]

Run eslint:
[code]

It's specifically complaining at the line ending. 🤔

Ideas? Editor line endings are `\n`. Here's the relevant config:

#### .eslintrc

[code]

#### package.json:

[c

[2019-01-07 10:41] pcguru commented on #32
This plugin works for me: https://www.npmjs.com/package/eslint-import-resolver-react-native
Linked from here: https://github.com/benmosher/eslint-plugin-import/wiki/Resolvers

[2019-01-21 11:59] linnett commented on #124
+ 1

[2019-01-24 18:25] MeenaAlfons opened #213 "sort-styles has a problem with detecting computed property names"
Example Usage:
<img width="241" alt="screen shot 2019-01-24 at 20 15 20" src="https://user-images.githubusercontent.com/5175706/51699248-ee3e3600-2014-11e9-950a-986b41abc220.png">

Error:
<img width="506" alt="screen shot 2019-01-24 at 20 15 43" src="https://user-images.githubusercontent.com/5175706/51699260-f72f0780-2014-11e9-8175-98e7eede78f7.png">

While using explicit property names works fine

[2019-01-24 18:45] MeenaAlfons opened #214 "sort-styles does not work with export default"
Seems like `sort-styles` rule does not work with `export default`. See the example:

<img width="516" alt="screen shot 2019-01-24 at 20 43 43" src="https://user-images.githubusercontent.com/5175706/51700869-c81a9500-2018-11e9-81ce-72bbb8436af1.png">

[2019-02-08 23:21] shirohana commented on #213
I have the same problem here (´-ωก`)

I'm creating a PR to fix it now

[2019-02-10 12:24] #213 closed

[2019-02-19 13:36] AleksandrZhukov commented on #210
will check it

[2019-02-19 18:39] donovanhiland commented on #210
I'm getting the same thing. Something I can do to help look at this?

[2019-02-22 16:43] gaoxiaosong commented on #210
+1

[2019-02-25 16:55] tinmar33 commented on #184
+1

[2019-03-01 14:34] bitcrumb commented on #210
+1

[2019-03-01 16:50] donovanhiland commented on #210
#208 dupe?

[2019-03-05 05:10] sturmenta commented on #32
For using react-native-web, this works good 🔥🔥🔥

[code]

[2019-03-05 14:20] EduVencovsky opened #219 "Using react-native rule removes problems in files"
Without using any rule of react-native, warnings and errors shows next to files and folders in vscode, like the image bellow.

<img width="393" alt="react-native-eslint-problem" src="https://user-images.githubusercontent.com/37600269/53811564-7b3fad80-3f38-11e9-8481-c36556bf2da1.png">

But when I use any rule, it doesn't show anymore

<img width="385" alt="react-native-eslint-problem2" src="https:

[2019-03-06 11:24] AleksandrZhukov commented on #210
@jasonschock @donovanhiland
can't reproduce the issue 😞
can you create a gist with your code?

[2019-03-06 14:18] jdrorrer commented on #210
I'm seeing this same issue. It looks like it's related to: https://github.com/Intellicode/eslint-plugin-react-native/issues/208

[2019-03-06 15:58] AleksandrZhukov commented on #208
Not sure that it is related to ESLint v5, this project has almost the latest versions of ESLint. Also I tried to update to the latest one (^5.15.1) but still can't reproduce the issue.

Maybe it is typescript related issue?

[2019-03-06 16:04] AleksandrZhukov commented on #210
@jdrorrer pls describe your environment

[2019-03-06 16:11] AleksandrZhukov commented on #219
did you add `react-native` to eslint plugins?
https://github.com/Intellicode/eslint-plugin-react-native#configuration

also try to execute eslint in the console, maybe you'll get some configuration errors

[2019-03-06 16:14] donovanhiland commented on #210
I’ll see if I can get a repo up today with the issue

[2019-03-06 17:40] donovanhiland commented on #210
@AleksandrZhukov https://github.com/donovanhiland/eslint-plugin-react-native-210

[2019-03-07 04:59] sudo-suhas commented on #208
Here's the minimal package which demonstrates the issue:

[test-eslint-plugin-react-native.zip](https://github.com/Intellicode/eslint-plugin-react-native/files/2939576/test-eslint-plugin-react-native.zip)

Unzip, install modules and run `./node_modules/.bin/eslint T.tsx` to see the issue:
[code]

[2019-03-08 10:12] AleksandrZhukov commented on #210
@donovanhiland thanks a lot, your repo was very useful
PR with fix is here https://github.com/Intellicode/eslint-plugin-react-native/pull/220

[2019-03-08 10:27] AleksandrZhukov commented on #208
@sudo-suhas here is the fix https://github.com/Intellicode/eslint-plugin-react-native/pull/220

[2019-03-10 23:13] phillipkey opened #221 "Spec files that import a split component file throw error"
I have the following file name for a jest test file: `permissions.android.spec.js`. This file imports `PermissionsAndroid` in it in order to mock the request function. This is triggering the linter for a `Android components should be placed in android files` violation. This is not allowing me to unit test this file while including this rule in the lint configuration.

[2019-03-14 15:17] draperunner commented on #214
I'll take a look at this!

[2019-03-15 13:48] mloureiro commented on #197
Another example where this happens is if you define them as a static variable:
[code]
this won't be checked also

[2019-03-26 04:44] fnando opened #224 "sort-styles does not work with quoted keys"
Notice how the error message includes `undefined` (in this case, I had two rules defined as `"link.primary"` and `"link.secondary"`.

<img width="935" alt="2019-03-25 at 9 41 PM" src="https://user-images.githubusercontent.com/3009/54972042-dc124280-4f46-11e9-85f5-d9c9ebe882bc.png">

[2019-03-26 18:47] holden-caulfield opened #225 "no-raw-text does not properly consider Animated.Text"
The following code:

[code]

Triggers this error:
[code]

This should not create an error as Animated.Text is a Text tag

[2019-04-03 17:45] #214 closed

[2019-04-05 11:57] ahartzog commented on #225
You can add this to your .eslintrc for a short term fix @holden-caulfield

  'react-native/no-raw-text': [
      2,
      {
        skip: ['H1', 'H2', 'H3', 'Animated.Text'],
      },
    ],

I use NativeBase so the h1, h2, h3 also fit this

I agree the rule needs to be adjusted to fix these by default rather than needing the skip setup though.

[2019-04-05 15:28] MrSucik commented on #124
+1

[2019-04-09 01:06] holden-caulfield commented on #225
Thanks!!

[2019-04-14 09:03] Intellicode commented on #225
I think the issue should be relatively easy to fix, so if anyone wants to give it a shot :)

[2019-04-14 12:03] ahartzog commented on #225
PR is up. I also considered adding the H1, H2, H3 tags but since those are library specific I wasn't sure if it would be appropriate.

https://github.com/Intellicode/eslint-plugin-react-native/pull/226

[2019-04-23 08:01] aeirola opened #227 "no-unused-styles does not work when React Native imported as whole module"
Our project conventions prefer namespaced imports of libraries, meaning that we import React Native with `import RN from 'react-native';` instead of `import {Long, List, Of, Things} from 'react-native';`. Unfortunately for us, it seems as if the `no-unused-styles` rule is not compatible with this type of import usage.

For example, the following code

[code]

does not trigger the rule.

I tried co

[2019-04-24 09:40] AleksandrZhukov commented on #210
@Intellicode can you create a new release? 🙏

[2019-04-24 20:09] Intellicode commented on #210
@AleksandrZhukov done, sorry for the wait, but had to fix `npm audit` issues :)

[2019-05-03 05:57] aeirola commented on #227
I made a PR to fix this at #228

[2019-06-03 07:12] nimeshbhalani opened #230 "Where to setup Configuration file ?"

[2019-06-19 10:32] Sayid1 opened #232 "How do I configure ignore files at no-inline-styles?"
The following example works well：
[code]
And ignore this option is not work
[code]

[2019-06-23 05:15] njdancer commented on #225
I know this change has already been merged so maybe this should be brought up in a new issue but, am I the only one who would like some kind of wildcard matching?

Ideally I'd like an option to suppress errors if the component name ends with Text. There are a number of places in my code where I will use styled to create various Text components with different styling. The names can vary but general

[2019-07-02 00:37] zchryst commented on #124
+1

[2019-07-09 10:04] katieisnell opened #237 "[Feature request] Support for ordering styles that are not in plain object format"
I am interested in having the ability to order styles which may include switch statements, as the project may want to use different styling for portrait and landscape orientation.

As far as I can tell, this may not be possible with the current eslint-plugin-react-native version. This could be a really nice feature to add?

[2019-07-17 18:40] fisherwise commented on #22
Feel it's kinda important from a C++ dev side 😢 Maybe python devs won't agree
Would that be possible to make exception only for special objects or variable names?

[2019-07-24 21:09] bmitchinson commented on #225
This merge should be reverted. See details of the PR, it was never actually fixed.

[2019-08-08 10:41] burtek opened #238 "split-platform-components not allowing another extensions"
Right now `split-platform-components` has false-positives if file extension is different than `js`, i.e. `jsx` or `tsx`. This rule should be either extension-agnostic or at least allow providing option (regex?) so that `.ios.jsx`, `.ios.tsx` etc are considered correct.

![image](https://user-images.githubusercontent.com/2940958/62696849-9fb51f80-b9d9-11e9-906f-2b41fa228e2a.png)

[2019-08-08 10:51] burtek commented on #238
I just found `iosPathRegex` and `androidPathRegex` in https://github.com/Intellicode/eslint-plugin-react-native/blob/master/lib/rules/split-platform-components.js. Too bad it's not documented in [docs](https://github.com/Intellicode/eslint-plugin-react-native/blob/master/docs/rules/split-platform-components.md)

[2019-08-08 10:54] burtek opened #239 "no-raw-text should allow providing own custom text components"
We have a Text-based wrapper component called `ProjectText`. There is currently no way of providing that to the rule.

[2019-08-09 10:40] chelovekdrakon commented on #225
Does not work for me.
[code]

[2019-08-14 18:37] Ashwin-Mothilal commented on #239
I was also searching the same thing but for now, I solved like this `"react-native/no-raw-text": [2, { skip: "ProjectText" }]`

[2019-08-14 20:27] Bekaxp commented on #238
Thank you @burtek

I added a rule like this:
`rules: {
   'react-native/split-platform-components': [
      ERROR,
      {
        androidPathRegex: '\\.android.(js|jsx|ts|tsx)$',
        iosPathRegex: '\\.ios.(js|jsx|ts|tsx)$',
      },
    ],
}`

This is now working for me. Maybe we should create a PR to update the documentation.

[2019-08-20 08:00] burtek commented on #239
How did I miss that option? 🤦‍♂ Thanks mate

[2019-08-20 08:00] #239 closed

[2019-08-20 09:13] burtek commented on #238
@Bekaxp feel free, I'm seriously short of time so I'm not going to do that in next few days

[2019-08-30 10:15] henrikra opened #241 "no-unused-styles works only with React class components"
Here is example component where `no-unused-styles` works:
![image](https://user-images.githubusercontent.com/12229968/64013223-04baeb80-cb28-11e9-85d8-fc3f7c8cf1c4.png)

But if the same component is refactored to functional component the validation is not working anymore

![image](https://user-images.githubusercontent.com/12229968/64013279-1e5c3300-cb28-11e9-8fd6-f6606799d43d.png)

Also the docs h

[2019-09-04 17:46] st-sloth commented on #210
@AleksandrZhukov thank you for the fix! As of 3.7.0, the rule works just fine. It seems that this issue can be closed?

[2019-09-05 06:55] AleksandrZhukov commented on #210
seems you're right, it can be closed

[2019-09-13 07:18] henrikra commented on #241
Maybe if you point to some lines where the problem might lie because I am not yet familiar with the codebase :)

[2019-10-01 16:27] tjbenton commented on #197
Another example is if you have it defined on a class, that uses props to determine styles

[code]

![Screen Shot 2019-10-01 at 12 27 08 PM](https://user-images.githubusercontent.com/4776422/65981313-d1c98780-e446-11e9-8bad-35fc7a588af6.jpg)

[2019-10-01 16:30] tjbenton opened #242 "white list for `no-color-literals`"
It would be nice to be able to white list specific colors that are okay to use. For us it's mainly `white` and `black`.

[2019-11-15 17:43] asmeikal commented on #186
#205 only works with styled components if the styled Text component is called StyledText, does not work if several StyledText are defined, unless each of them is skipped...

[2019-11-25 02:40] liaoyf opened #245 "no-raw-text does not work with Namespace.Type"
`Namespace.Type` should be a `JSXMemberExpression`

![image](https://user-images.githubusercontent.com/13860611/69508131-bd4dcb00-0f6f-11ea-9ccf-7c158a66937f.png)

[2019-12-12 15:04] vjsingh opened #248 "no-raw-text doesn't work for styled components"
Unless I'm doing something wrong, the no-raw-text rule doesn't seem to work when using styled-components. This makes it largely useless I think? Would be nice to be able to use this rule but not sure how to do so when using styled-components.

[code]

[2019-12-15 10:25] wuxiii opened #249 "TypeError: Cannot read property 'expression' of null when use inline style"
using "eslint-plugin-react": "^7.17.0","eslint-plugin-react-native": "^3.8.1"
Here's the stack trace:
[code]

[2020-02-14 05:41] GollyJer opened #251 "Is there an easy way to say "ignore style={{ flex: 1 }}""
I love not allowing inline styles but it becomes a little frustrating when all you have are a bunch of`style={{ flex: 1 }}` views.
Is there a way to allow only `{ flex: 1 }` as an inline style?

[2020-02-18 07:39] MikePodgorniy opened #252 "no-unused-styles don't work with React.memo"
Example:
[code]

[2020-03-14 21:16] ahoseinian opened #254 "Add suggestion fix for the rule `no-inline-styles`"
One of the things I notice myself doing a lot during development is moving inline styles out after I finalize them. I thought it could increase my and hopefully others' productivity if we could automize that job with help of your plugin.

Therefore I prepared a basic PR that would add the suggestion for the `no-inline-styles` rule. would like to get the maintainers' idea for it and hopefully make

[2020-03-27 22:37] Intellicode commented on #254
Sorry for late reply, but it looks like an interesting idea. How should it work if you have multiple views?

[code]

[2020-03-28 08:19] ahoseinian commented on #254
Ultimately I think the style should be renamed by the programmer as normally it is named after the purpose of the component like `container, button, etc`. however, for the purpose of this suggestion, we could add a suffix to the second style like `viewStyle_2, viewStyle_3, ...`.

[2020-03-28 19:08] Bekaxp commented on #238
@burtek sorry for the very loooong delay in creating this documentation update. The PR is open now. Thank you.

[2020-04-07 09:59] karlmarxlopez commented on #214
I'm still experiencing this issue on `v3.8.1`

[2020-04-17 07:52] niksajanjic commented on #22
Maybe instead of just boolean:
`"no-use-before-define": ["error", { "variables": false }]`

There could also be regex option:
`"no-use-before-define": ["error", { "variables": '/styles/' }]`

Not sure how hard it is to implement this. I know `stylelint` allows this for multiple rules.

[2020-05-19 11:49] se22as commented on #210
I am having the same issue with my application which is not using typescript. I am on eslint-plugin-react-native version 3.8.1

**package.json**

devDependencies": {
        "@babel/core": "7.9.6",
        "@babel/runtime": "7.9.6",
        "@react-native-community/eslint-config": "0.0.5",
        "babel-jest": "24.9.0",
        "eslint": "^6.8.0",
        "eslint-config-airbnb": "^18.1.0",

[2020-05-24 15:41] alvinthen opened #258 "no-unused-styles does not support React Fragment shorthand"
As per title, when using `<></>`, eslint does not report any errors.

However, `<React.Fragment></React.Fragment>` does work

[code]

[2020-05-27 09:28] SidOfc opened #259 "[idea] no-inline-styles consider ternary styles to be valid as well"
Hello,

Thank you for creating and maintaining these rules, they are very useful!

I think I found an issue with how the `no-inline-styles` rule determines to warn you about usage of inline styles. Say that I have this style object:

[code]

This does not generate warnings, and neither does this:

[code]

However, In my case I use a ternary for one property which sometimes evaluates to an empty st

[2020-06-01 05:18] plaa opened #260 "no-raw-text should use types"
The no-raw-text rule could be made much more robust by using TypeScript types.

Currently, the rule detects simple usage like `<View>foo</View>` and `<View>{'foo'}</View>` but using any variables prevents detection `<View>{textVar}</View>`.  Also numbers are not detected, the following does not product a warning `<View>{0}</View>`.

A very common type of bug I see is the following:
```{ myVar && <

[2020-06-09 13:37] the0ffh commented on #186
Quite funny that you call it a fix 😄

[2020-06-19 14:05] alexbchr commented on #225
I have a similar issue, I have a custom component called `List.Item` and even if I add it to the skip list it still triggers an error.

I have plenty of other components in there, and working well with this rule, however none of them has a `.` separator.

[2020-06-24 11:16] acostalima commented on #241
I can't reproduce this issue. Am I missing something? 🤔

### Class component
![image](https://user-images.githubusercontent.com/2727522/85546128-81b5d500-b614-11ea-87c9-1d60df36c66c.png)

### Function component
![image](https://user-images.githubusercontent.com/2727522/85546039-6ba81480-b614-11ea-9902-996297abf36b.png)

[2020-06-24 11:21] acostalima commented on #241
I've just found the root cause. It lies on #258.

[2020-07-25 13:19] LauraBeatris commented on #248
Same problem... My codebase is using a lot of Typograph component made with ``styled-components`` and unfortunately, I had to disable this rule

[2020-07-29 15:29] adibas03 commented on #248
+1

[2020-07-31 10:16] adibas03 commented on #248
First, @vjsingh You should rename the issue to 'no-raw-text doesn't work for `custom` styled components', as the rule actually works, but not for custom components.

Been doing some investigation into what it would take to implement this.
At present, I am yet to get a direct reference to the type of StyledComponent from within the babel nodes which are passed into the rule checking function; only

[2020-08-12 21:57] mattpetrie commented on #248
Also running into this. One possible option to fix it would be to change the `skip` option to accept a regex instead of (or in addition to) an array of strings, so that you could do, for example:
[code]
to skip any component that is suffixed with `Text`.

[2020-08-15 10:10] anton-mladenov commented on #25
as of 2020 you can do this:
`rules: {
    "react-native/no-inline-styles": 0,
  },
}`

[2020-08-15 13:48] Staceadam opened #264 "[Feature Request] FlatList Warnings"
Add rules for FlatList
1. Warning for when a FlatList is put as a child inside of a Scrollable component.
2. Suggest memoizing function props for items within a FlatList component.

[2020-08-19 10:42] adibas03 commented on #248
@mattpetrie
That is actually a valid suggestion, we just need to consider the possible loopholes or drawbacks
I was attempting to identify the styled -component component type, but not been able to get it from the babel generated resource for the lint checks

[2020-08-21 05:28] tomdyqin opened #266 "no raw text rule fail"
{
      code: `
        export default class MyComponent extends Component {
          render() {
            const styles = StyleSheet.create({})
            return (<View>
              <Text>text1</Text>
              <Text style={styles.a}>text2</Text>
            </View>);
          }
        }
      `,
    },

this is my test code, line `text1` is ok， but `text2` use style props is fail
![1]

[2020-08-24 21:07] alexisbronchart commented on #266
Same issue here. Indeed after upgrading to 3.9.0

[2020-08-25 19:21] adrianocola commented on #266
This seems to be related with #247 .

This PR was created to allow components that use dot notation to work (ie: `Animated.Text`). This rule works by checking if the component name is in a list of allowed components that can contain text. But the function used to get the component name now is also appending the prop names to the component name.

This happens in this function:
https://github.com/In

[2020-08-26 20:52] #266 closed

[2020-08-27 01:35] kimfucious opened #269 "Raw text cannot be used outside of a <Text> tag when using style property"
Hi there,

I am probably doing something wrong, if not a lot of things, but I can't figure out what.  I have Googled, and I have read through the issues here, but to no avail.

In brief, after a recent upgrade on a project to `"eslint-plugin-react-native": "^3.8.1"`, I'm getting all kinda warnings.

These *seem* to be only on <Text> elements where I have implemented in-line styles, but there's so

[2020-08-27 20:11] Intellicode commented on #269
Did you try the latest one, 3.9.1? It fixes this one #266 266

[2020-08-28 10:24] kimfucious commented on #269
Hi @Intellicode,

Thanks for the suggestion.

I've just upgraded to 3.8.1, but unfortunately the problem remains.

[2020-08-28 13:56] mrousavy commented on #269
<img width="1156" alt="Screenshot 2020-08-28 at 15 55 55" src="https://user-images.githubusercontent.com/15199031/91572672-fecc3600-e946-11ea-895f-c398e10d4499.png">

Same here. Probably time to memoize this value, but still an issue

[2020-09-02 15:24] mjmasn opened #270 "[3.9.1] Crash related to <Text>"
Hey! 👋

I'm getting `Error: Couldn't find a Program` after upgrading this package from 3.8.1 to 3.9.1.

Bit of a contrived example below, but seems to reliably trigger the issue and was just about the smallest repro I could manage to find. Not able to post the actual code we're using I'm afraid but it's essentially rendering something like:

Seems to be something to do with nested text that has a

[2020-09-02 15:49] mjmasn commented on #270
Repro here: https://github.com/mjmasn/eslint-plugin-react-native-270

[2020-09-02 16:14] mjmasn commented on #269
Similar issue:

[code]

[2020-09-02 19:47] Intellicode commented on #269
I could reproduce this test, let me see what I can do. If anyone has time, a PR would be appreciated else it would have to wait until I have time to look into the issue in detail.

[2020-09-08 12:06] BPetronel opened #271 "no-raw-text"
On "eslint-plugin-react-native": "3.9.1" there seems to be a false positive error/warning
[code]
There seems to be a problem with Nested Text for this rule.

[2020-09-17 05:22] rsml commented on #271
The issue exists on v3.9.0 too. v3.8.1 is fine though. I'm testing with a custom text component like so:
`"react-native/no-raw-text": [2, {
      "skip": [
        "Label",
      ]
    }],`

[2020-09-26 02:22] Aung-Myint-Thein commented on #22
I just bumped into one of the situations that `no-use-before-define` saved my day. Please take a look at following codes.

This won't work. This won't trigger playSoundFile and I didn't know what went wrong. The code has no warning. Then I checked my linter config and I needed to added `"no-use-before-define": ["error", { "variables": false }]` and voila!
[code]

This will work:
[code]

I needed t

[2020-10-01 20:49] Intellicode commented on #271
Any help on this issue is appreciated, I think its the same as this: https://github.com/Intellicode/eslint-plugin-react-native/issues/269

[2020-10-02 04:40] ThevinMalaka commented on #25
It's worked for me. Thank you very much.

[2020-10-14 09:51] LRNZ09 commented on #270
I got the same issue using the latest version

[2020-10-16 07:57] lsps9150414 commented on #271
same even with eslint: v3.81

[2020-11-09 07:20] MaxNoack opened #275 "Unused style detected warning when using object destructuring"
We using destructuring on your StyleSheet.create object you get a "Unused style detected" warning, even though the style is in use. Example:

[code]

[code]

Excepted behavior should be to pass both versions.

[2020-11-11 11:52] plaa commented on #270
Same issue when I use ` @react-native-community/eslint-config@2.0.0` which depends on `eslint-plugin-react-native@3.10.0`.

Adding `eslint-disable` in the file doesn't fix it, so I had to add the file to `.eslintignore`. Fortunately it was only a single small file for us.  😕

[2020-11-16 22:39] pke commented on #269
problem still exists in 3.10.0

[2020-12-04 15:13] DrRefactor commented on #260
is someone working on it, or has any suggestions on how to approach it?

[2020-12-07 03:21] ds147000 commented on #270
+1

eslint error:
`> eslint "**/*.{js,ts,tsx}" -o ./eslint-report.txt

Oops! Something went wrong! :(

ESLint: 7.13.0

Error: Couldn't find a Program
Occurred while linting /Volumes/T7 Touch/code/react-native-mb-ui/example/src/views/actionsheet/view.tsx:59`

actionsheet/view.tsx:59
`<Text onPress={() => setCustomCloseExtra(false)}>取消</Text>`

[2020-12-09 12:53] janKir opened #276 "no-unused-styles reports false positive when used inside React.useMemo"
When I memoize a Stylesheet that derives some styles from props or state, the `react-native/no-unused-styles` reports an error although the memoized object is used.

Example:
[code]

[2020-12-21 15:30] AZatsepa commented on #225
In my case, with
[code]
I used
[code]
And it worked OK.

[2020-12-28 19:24] vladev commented on #270
Can confirm this happened to me on a larger project. Version `3.10.0` produces the `Error: Couldn't find a Program`. Downgrading to `3.8.1` fixes this issue (for the time being).

[2021-02-10 16:43] esthor commented on #264
I wonder if this could be generalized to all VirtualizedLists (e.g., FlatList, SectionList, VirtualizedList)?

[2021-02-24 16:49] Hophoet opened #277 "Where the configurations must be set ?"
**Hi,**
**Very great librairy!, i like it**

I need your help for the installation!
I am following the step for the installation, and at the configurations step i don't know where configs must be set

[2021-03-05 09:55] DanielRamosAcosta opened #278 "Crashing when using style prop that is a string"
Here is the crashing error:

[code]

This is caused because the [StatusBar component from Expo](https://docs.expo.io/versions/latest/sdk/status-bar/) has a style prop that can be `auto`, `inverted`, `light`, or `dark`. Here is the snippet where is crashing:

[code]

This, is not:

[code]

[2021-03-06 21:04] alittletf commented on #277
+1
I am also confused where this should be set

[2021-03-16 09:03] amankumar6 opened #279 "How do i disable it?"
I am working on a project as the project is in the beginning phase so we are using inline styles, when will we began the main development we will change the inline styles to components.

I am annoyed to see the Eslint warning for writing inline styles how can I disable it?

I tried this in ```.eslintrc.js```, but it didn't work.

[code]

[2021-03-16 09:06] amankumar6 commented on #277
You need to create a ```.eslintrc.js``` file in the root directory of your project and then copy the command which is given in the docs.

[code]

[2021-03-16 12:59] xRiot commented on #270
Same issue here with `eslint-plugin-react-native@3.10.0` when trying to use a arrow function inside JSX:
[code]

[2021-03-16 13:07] xRiot commented on #270
Came up with a workaround :smile:
[code]

[2021-03-18 13:54] DaniyarJakupov commented on #271
Still present in `"eslint-plugin-react-native": "^3.10.0"`

[2021-03-20 06:55] jaquinocode commented on #278
Same exact problem for me. Through trial and error I figured out that the bad rule that does this is:
`react-native/no-single-element-style-arrays`

It also says the same in your error message.

[2021-03-26 18:25] manuelxaguilar commented on #270
I'm also getting this error with both arrow functions on `onPress` and the `Text` issue.

Package.json:
[code]

.eslintrc.json

[code]

Using node v14.16.0

[2021-03-30 11:19] AndrePM commented on #278
As a __temporary workaround__ you could assign the style string to a variable:
[code]
and then use that as your style:
[code]
This will prevent `eslint` from crashing. The ofc you will get the `react/style-prop-object` rule error, but you can fix this by adding `StatusBar` as an exception in your rules.

[2021-03-31 09:17] fredlemieux commented on #248
This does not work for me.  I.e. I have a styled component called <TextSummary> if I add skip: ['TextSummary'] the error goes away so the rule is working. But /Text$/ doesn't work, nor does variations on this, ie. /Text.*/   /.*Text.*./
Any suggestions?

[2021-04-01 11:38] MenaiAla opened #281 "[Feature] Convert inline-styes into independent styles?"
### Description

In `react-native`, `eslint` warns us to avoid `inline-style` in our components but it provides one solution by __disabling the rule.__
However, I'd recommend to add an option that let's convert `inline-styles` into `independent styles.`

### Screenshot
<img width="1080" alt="Screen Shot 2021-03-31 at 10 41 30 AM" src="https://user-images.githubusercontent.com/20143684/113288456-e9

[2021-04-01 15:31] Tj3n opened #282 "Crash whenever I type `style` on component?"
Hi, I'm not sure what's wrong with my setup ( is quite default from Ignite ) but I'm getting crash whenever I try to type `style` in any components, doesn't matter what is it. Remove this from `extends` then it stop but also stopping inline style checking.
Thanks in advance!

Here's the log:
[code]

Here's my eslint config:
[code]

[2021-04-10 20:00] gjbadros opened #283 "Support looking for unused styles when using react-native-themed-styles (in a stylized way)"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `eslint-plugin-react-native@3.10.0` for the project I'm working on.

I made this work with https://github.com/wvteijlingen/react-native-themed-styles, using "SSF" in the eslint config:

[code]

and then

[code]

The pattern then has to be:
[code]

and then inside t

[2021-04-17 10:20] ManAnRuck commented on #248
**RegEx does not work** for me with version: v3.10.0
String does work

[2021-04-19 10:05] SusulAdam commented on #124
Hello, unfortunately the problem still persists

[2021-04-19 18:10] jgutierrez11 commented on #124
Any solution / workaround / alternative to this ?

[2021-05-01 09:18] mehmetnyarar opened #284 "TypeError: Cannot read property 'type' of undefined (no-single-element-style-arrays)"
I'm getting the following error:

main/index.tsx:22 -> ` <View style={styles.container}>`

.eslintrc.json:

[code]

"eslint-plugin-react-native": "^3.10.0",

[2021-05-02 16:17] LeonardoRick commented on #249
I'm facing the same issue

[2021-05-19 10:12] AlanSl commented on #278
The good news: this was fixed in this PR https://github.com/Intellicode/eslint-plugin-react-native/pull/262 which was merged in March 2021 https://github.com/Intellicode/eslint-plugin-react-native/commit/b908186ee3f4171c3e53deb1634e6831d61e0516

The bad news: the last release, 3.10.0, was in September 2020.

@Intellicode can you please publish a patch release to NPM? Thanks!

[2021-05-19 10:14] AlanSl commented on #282
See https://github.com/Intellicode/eslint-plugin-react-native/issues/278

[2021-05-19 10:41] AlanSl commented on #284
See https://github.com/Intellicode/eslint-plugin-react-native/issues/278

[2021-05-20 19:27] Intellicode commented on #278
@AlanSl, just made a release, hope it works! If it breaks let me know.

[2021-05-21 12:35] AlanSl commented on #278
@Intellicode Thanks! 3.11.0 works fine for me, looks like this (and the two linked duplicates) are fixed 🎉

[2021-05-22 12:06] Intellicode commented on #278
@AlanSl thanks for your confirmation!

[2021-05-22 12:06] #278 closed

[2021-05-22 12:07] Intellicode commented on #282
Should be fixed as discussed in #278

[2021-05-22 12:07] #282 closed

[2021-05-22 12:07] Intellicode commented on #284
Should be fixed as discussed in #278

[2021-05-29 07:07] Tj3n commented on #282
@AlanSl @Intellicode The fix in #278 doesn't fix this issue, I still have to add `"react-native/no-single-element-style-arrays": 0` to makes it stop crashing, just typed `style` then it crash instantly without any `="something"` or the sort. I'm using v3.11.0.

[2021-06-03 14:58] eqlion commented on #270
Have the same issue with `"eslint-plugin-react-native": "^3.10.0"`, when trying to replace

[code]

with

[code]

Disabled this rule for now, waiting for a proper solution.

[2021-06-09 18:58] ejain commented on #271
Still present in 3.11.0. As a workaround, you can configure the rule with `{ "skip": [ "Text.Text" ] }]` (add `"Text.Text.Text"` for two levels of nesting etc).

[2021-06-15 15:50] KrisLau commented on #165
Are there any updates on this?

[2021-06-15 23:35] CostachescuCristinel opened #291 "no-unused-styles fails when passing through the entire StyleSheet"
The rule `no-unused-styles` is unable to discriminate between actually unused styles, and an entire StyleSheet object being passed through to a component.

In particular, I am using `react-native-htmlview`, which accepts a `stylesheet` prop containing an object created through `StyleSheet.create( ... )`. When I pass the entire stylesheet to this prop, the `no-unused-styles` fails. See the example

[2021-06-18 06:56] bombillazo commented on #225
Any update on this Issue? I'm using `react-native-paper` and the rule fails when using the Button component:

[code]

error:
ESLint: Couldn't find a Program Occurred while linting /home/user/project-repo/src/screens/SignInScreen.js:57. Please see the 'ESLint' output channel for details.

[2021-06-18 07:04] bombillazo commented on #248
Regex isnt implemented, @mattpetrie was simply giving a suggestion.

[2021-06-18 19:27] fnimick commented on #270
This is still present in 3.11.0.

[2021-06-19 14:07] FDiskas commented on #279
'no-inline-styles': 'off',

[2021-06-19 19:32] leotm commented on #271
Noticed in 3.11.0 too, cheers @ejain this works for me

[code]

[2021-06-23 20:01] #279 closed

[2021-06-30 18:54] taylorkline opened #292 "Rule request: Pressable component usage only, no TouchableOpacity, Touchable* components"
The Touchable series of components are discouraged now according to the React Native documentation with the following statement on the documentation:

It would be good to have a linting rule on any usage of Touchables, encouraging Pressable instead.

[2021-07-07 12:09] pipedreambomb commented on #271
Yeah, I found this really confusing as nesting text like this is [exactly what the React Native docs tell you to do](https://reactnative.dev/docs/text).

[2021-07-28 03:12] joshuapinter opened #293 "no-unused-styles: False positive when using dot access on style."
For example:

[code]

This will raise an error with the following style:

[code]

[code]

Using dot notation is ignored when determining which defined styles are used.

[2021-08-12 16:09] VincentJouanne commented on #270
The minimum conditions to reproduce this linting crash is:
Having a component with a function passed as a prop AND any kind of children.

So, the minimal reproducible example is the following one:
`<MyComponent myFunctionProp={() => {}}>my children</MyComponent>;`

To fix this issue, you should define the prop before passing it, like so:
`<MyComponent myFunctionProp={myFunction}>my children</MyCom

[2021-08-12 17:20] xRiot commented on #270
@VincentJouanne This doesn't work with useCallback hook though :slightly_frowning_face:

[2021-08-12 19:33] VincentJouanne commented on #270
@xRiot Can you post the minimum reproducible example with a useCallback() ?

[2021-09-10 03:30] SrBrahma commented on #260
Up

[2021-10-03 20:12] retyui opened #295 "Unhandled case no-inline-styles + typescript when add type casting `as T`"
Our tricky developers found a way to ignore eslint rule:

[code]

Can you fix it?

[2021-10-03 20:12] retyui opened #296 "Unhandled case no-inline-styles + typescript when add type casting `as T`"
Our tricky developers found a way to ignore eslint rule:

[code]

Can you fix it?

[2021-10-04 20:05] #295 closed

[2021-10-20 02:09] bombillazo commented on #270
Still getting this issue on:

eslint 7.14.0
eslint-plugin-react-native: 3.11.0

:/

[2021-10-21 18:31] idolize opened #298 "Eslint 8.0 error when using --fix: Fixable rules must set the `meta.fixable` property to "code" or "whitespace""
Just updated to eslint 8.0 and getting a new error with this plugin.

See: https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0#rules-require-metafixable-to-provide-fixes

Here is the error stack:

[code]

I always run eslint with `--fix`, so this is breaking my current workflow.

[2021-10-30 14:57] janschloss commented on #298
Thanks for opening the issue and the PR. I have the same problem.

In case anyone is blocked by this, you can just disable the rule until the PR is merged by @Intellicode
[code]

[2021-11-01 15:08] tulitheprogrammer commented on #124
#300

Added the support

Approve if you want to use it

[2021-11-01 15:09] tulitheprogrammer commented on #237
#300

Added the initial support

Please approve

[2021-11-05 13:38] npavlovichero commented on #270
Really appreciate the amount of attention this gets from the maintainers.

[2021-11-08 18:45] #298 closed

[2021-11-11 08:30] Kjue opened #301 "[Feature] Allow rules options to include message"
Seeing that I'm using the no inline styles rule in a production system I would see a benefit to allowing to override the messages with instructions on what would be useful thing to do. I would prefer to guide the developer to the right track instead of just telling them their current action is wrong. Cheers!

[2021-11-20 20:04] wSedlacek opened #302 "Eslint 8 support"
It looks like a bit ago Eslint 8 was added to the `package.json`
https://github.com/Intellicode/eslint-plugin-react-native/blob/a66b3038e53e4c1f73dc208b5175e3d7f5cb5559/package.json#L39

But it seems like this changes yet to be released.
Are there any blockers for that?
Anything I can do to help unblock the release?

[2021-12-01 12:37] maestrolsj commented on #165
is there any update for it ?

[2021-12-01 13:22] skovhus commented on #165
I never got this wrapped up unfortunately. And I’m not working with React Native currently. :)

[2021-12-05 01:27] retyui commented on #165
I created a PoC now and seems it works

**Limitation:**

- error highlighting work only for styles that defined localy
- can't works with reexported  styles
[code]

![image](https://user-images.githubusercontent.com/4661784/144729688-1867d945-a1f7-41f9-bcd9-737f97066999.png)

[2021-12-05 14:26] retyui commented on #165
I created a PR https://github.com/Intellicode/eslint-plugin-react-native/pull/303 to fix this issue:

**Docs:** https://github.com/retyui/eslint-plugin-react-native/blob/no-unused-styles-and-imports/docs/rules/no-unused-styles.md#options

If you want to test it you can install the version from Github:

[code]

[2021-12-05 14:32] retyui commented on #302
@wSedlacek You can install GitHub version of a module:

See yarn [Selective dependency resolutions](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/)
[code]

[2021-12-05 15:00] Intellicode commented on #302
Working on this, but unfortunately, this introduces all kinds of problems with the dependencies of this plugin, I'm trying to make the build green again.

[2021-12-05 19:10] maestrolsj commented on #165
Thank you for your contribution. 👍👍

On Sun 5. Dec 2021 at 15:26, David NRB ***@***.***> wrote:

[2021-12-10 15:03] willjenks commented on #270
no help if I need to pass an arg, sadly

[2021-12-10 15:17] npavlovichero commented on #270
what do you mean by that?

[2021-12-11 18:43] manovotny commented on #302
Although a [GitHub release hasn't been created yet](https://github.com/Intellicode/eslint-plugin-react-native/releases), it does look like [v4.0.0 is out on NPM](https://www.npmjs.com/package/eslint-plugin-react-native). You can [view the diff from v3.11.0 ➡️ v4.0.0](https://github.com/Intellicode/eslint-plugin-react-native/compare/eslint-plugin-react-native-3.11.0...v4.0.0).

As such, this can pr

[2021-12-13 13:00] kieran-osgood commented on #249
Looking at the output you gave, which also matched mine, the problematic isn't the inline style rule but `no-single-element-style-arrays` for now I've just disabled that rule `"no-single-element-style-arrays": "off"` to avoid the error message popping up repeatedly

[2022-01-10 18:42] OneOfOne opened #306 "no-raw-text gives a false positive with spaces?"
[code]

Gives 2x `Whitespace(s) cannot be used outside of a <Text> tag`.

Which is wrong, however I can't workaround it with skip:

[code]

[2022-01-12 18:19] pagkt2 commented on #186
I am using `eslint-plugin-jsx-expressions` to manage this issue.  Cf. https://github.com/yannickcr/eslint-plugin-react/issues/2073#issuecomment-945025341

[2022-01-19 07:27] SrBrahma opened #307 "no-raw-text breaking eslint when nearby component has an inline function"
I've managed to reduce the problem to the following:

[code]

Until that `a` is removed or `/* eslint react-native/no-raw-text: 0 */` is added, the eslint will stop working for the entire file. No warns, no errors.

Looks like the problem comes from the inline function above. The error persists if `p={() => 4}`, but it's gone if `p={4 as any}`.

It doesn't happen if `function x() {}` and passing `

[2022-01-21 06:53] zemuldo commented on #270
I had this problem with the code below
[code]

I have no idea why, I just tweaked the text to this and the error went away.
[code]

Might me related to some structure of nested text RN elements.

[2022-02-04 07:44] rkaartikeyan opened #308 "TypeError: Cannot read property 'name' of undefined"
Hi team,

In Typescript environment I am facing below issue, can you please let me know what I can do for this?

[code]

[2022-02-25 17:04] rarenatoe commented on #242
shameless bump.

Also 'transparent'.

[2022-03-02 06:34] SrBrahma opened #310 "Custom StyleSheet ordering?"
Hi, I have my tastes when ordering my StyleSheet styles props. Alphabetical order isn't good for me.

For example, I have +- at this order: flex stuff, width/height, margins, paddings, colors...

I am now doing it manually, but of course an automated way would be very nice.

What I suggest is having an array of the keys in the desired order, like `['flex', 'flexDirection', 'height', 'width']`... T

[2022-03-25 10:10] xstable opened #312 "When does eslint 8 support available?"
![image](https://user-images.githubusercontent.com/1778068/160100884-50e05fd7-522f-4655-afb7-dbdc07ea6177.png)

[2022-04-13 01:53] matart15 commented on #165
latest version release
[code]

PR merged
[code]

Waiting to be released

[2022-04-21 22:02] hsource commented on #270
#314 should fix this

[2022-04-23 19:53] limpbrains commented on #310
Something like https://github.com/hudochenkov/postcss-sorting

[2022-04-28 12:05] SurajQuizizz commented on #165
This is a super helpful feature, it would be great if we could make a release.

[2022-04-28 21:20] torbovhr opened #316 "Help with running the plugin?"
I'm using a simple Expo blank template on a Visual Studio Code with Prettier and I'm trying to run this plugin so the stylesheets of my project to be sorted alphabetically.

I've installed this module using the following commands:
[code]

Which generated `.eslintrc.js` in my project's root folder and I changed it's contents with:
[code]

But now when I'm saving a file only Prettier works - I guess

[2022-05-02 14:30] gabrielmoncea commented on #270
@hsource still exists

[2022-05-03 16:53] hsource commented on #270
That shouldn't be right! What error message are you seeing? If you'd like to test with a build, you can also do `yarn add hsource/eslint-plugin-react-native#v4.0.0-wanderlog.2` to use the patched version

[2022-05-03 17:10] gabrielmoncea commented on #270
Thanks! I'll try it out

[2022-05-13 09:55] uloco opened #317 "[no-inline-styles] ternary style gets mistakenly reported"
I get a warning on this inline style:

[code]

Does this behaviour work as expected?
If so, how should we change these?

I think it should not report as a warning though ...

[2022-05-30 06:21] nobi1007 commented on #317
Yeah, all conditional expressions by default are considered invalid [here](https://github.com/Intellicode/eslint-plugin-react-native/blob/4b7149ea7019d288d6318dfabb05461f3134a975/lib/util/stylesheet.js#L405-L409). I think plugin should accept some pattern config to apply only certain validations and skip others.

[2022-06-01 07:40] uloco commented on #317
I think it should be configureable, so that if there are variables in it, it should not report at all. Because it makes the code much more complicated with little benefit. If I am already using an inline style because of a conditional, I don't want to goo to the style definition and look up what style will be applied in the else case for example. But it totally makes sense for disabling  inline st

[2022-06-16 00:32] SrBrahma opened #318 "Rule to warn about styles such as `textAlignVertical` that aren't multi platform (it doesn't support iOS)"
I got surprised now to know that `textAlignVertical` [don't support iOS](https://github.com/facebook/react-native/issues/26926#issuecomment-544242012). Found it on a on-prod app of mine. Not a big deal, but I wish I knew this before.

It would be useful to have a rule to warn about at least this style, and to recommend to use a wrapping View with `justifyContent: 'center'`.

[2022-06-20 04:35] thongquach-eh commented on #270
When will this fix be released @hsource @JLHwung ?

[2022-06-23 19:29] SrBrahma opened #319 "Ensure each style property is on its own line when inside StyleSheet.create()"
I usually first add my component styles inline and on the same line, if I expect them to be simple and unique. If they get too complex or are reused, I transfer them to the StyleSheet.create() in the bottom of the code.

For example, just dropped `{ color: '#141C4D', fontFamily: F.SF_Pro_Text_Medium, fontSize: 15, paddingHorizontal: 10, paddingVertical: 10 }` there. Then I have to put a new line a

[2022-06-24 20:30] zachary95 commented on #270
This is still present in `^4.0.0`. :/

[2022-06-27 07:17] MoOx commented on #312
Would be nice to have the fix in main branch released so npm doesn't yell on peer deps :)

[2022-07-11 13:28] yonureker commented on #165
+1

 Can we get a release @Intellicode?

[2022-07-18 19:59] Intellicode commented on #165
I guess its about time for that, sorry for the inactivity

[2022-07-18 20:06] Intellicode commented on #165
Actually, it's not merged in the main branch of this repo yet, the PR is still pending further review, but my time is too limited to wrap that up at the moment.

[2022-08-15 18:33] merrywhether commented on #225
I hit a similar `Couldn't find a Program` error and it appears to be triggered when I add an anonymous function as a prop value to my skip-listed components (which I see @bombillazo also had in `onPress`).

For example:
[code]
It seems like the lint rule may not be accounting for some valid AST variations in its logic?

[2022-08-19 06:15] gentlee commented on #276
Never use StyleSheet.create inside useMemo. Need to create rule for that.

[2022-08-23 07:17] KilianB commented on #225
@merrywhether this case should be covered here #270

[2022-08-24 16:27] alexndreazevedo commented on #276
The assumption is correct. Dynamic styles should be memoized to prevent triggering re-renders. A simple benchmark with Why Did You Render would show that. The most expensive operation for RN is converting back and forth data to JSON to propagate the unnecessary changes over the bridge, therefore YES: memoize your dynamic styles.

[2022-09-05 10:14] uloco commented on #312
Looks like it is already fixed in main. Please release this to npm

[2022-09-05 12:33] uloco commented on #312
Oh, I'm sorry, looks like this is already released as version 4.0.0 on npm. I think it's safe to close this ticket, no? Make sure you also update  "@react-native-community/eslint-config" to 3.1.0 since they depend on this plugin.

[2022-09-09 17:00] soullivaneuh opened #320 "no-unused-styles: false positive with variable based style object selection"
Considered this component having a `variant` prop with values `white` and `primary`, affecting the selection of the styles object:

[code]

ESlint will complain with the following:

[code]

Maybe related to #125.

[2022-09-20 12:41] Romick2005 commented on #320
I guess you have bad styles architecture.

What is the purpose of creating two different styles?
[code]
It would be better when it would be inside main styles declaration.
Or if you really want dynamic creation it can be like this:
[code]

[2022-09-20 14:20] Romick2005 opened #321 "TypeError: this.styleSheets[styleSheetName].filter is not a function"
I have in one of my file the following line:
`const hasOwnProperty = Object.prototype.hasOwnProperty;`

This cause eslint rule check to failure with error:
`TypeError: this.styleSheets[styleSheetName].filter is not a function`

[code]

[2022-09-20 16:26] Romick2005 opened #323 "Maintainers wanted!"
If there would be any volunteers that would update and maintain this repository would be there any chances that @Intellicode give them some access to the code to keep this module alive?

[2022-09-22 09:23] Noitham commented on #124
+1

[2022-09-23 00:29] xsjcTony commented on #270
The problem still exists in `v4.0.0`. Have to temporarily turn the rule off

[2022-09-23 13:11] Intellicode commented on #323
That would certainly be possible, but since this module is used in quite some projects I will have to be cautious about providing access to someone. My preference would be to partner up with a group or company that is active in the React Native scene.

[2022-10-04 10:30] ridvanaltun commented on #317
I think the plugin should accept conditional expressions etc.

[2022-10-06 10:36] Magnus-V commented on #270
Had the same problem, fixed it by assigning the value to a constant. Example:

Didn't work:
`function displaySomething() {
return (
<Text>functionThatReturnsAName(id)</Text>
)}`

Workaround:

`function displaySomething() {
const name = functionThatReturnsAName(id)
return (
<Text>{name}</Text>
)}`

Not sure if this is helpful for anyone but worked for me and it is prettier imo.

[2022-10-11 03:14] bmish commented on #323
@MichaelDeBoey would this qualify for @eslint-community?

[2022-10-11 22:22] MichaelDeBoey commented on #323
@Intellicode I think this repo qualifies to be transferred to the newly created official ESLint community org (@eslint-community).

We do have some [acceptance criteria](https://github.com/eslint/rfcs/tree/main/designs/2022-community-eslint-org#what-would-be-the-acceptance-criteria) though.
I think the best approach would be to write up for each criteria point why you think this repo is adhering i

[2022-11-12 21:45] Intellicode commented on #323
@MichaelDeBoey Sorry for the late reply!

Thanks for your answer, I will consider writing up a proposal for being included in the community org, it looks like it could be a nice new home for this plugin!

[2022-11-20 12:39] retyui commented on #296
dead pkg

[2022-11-20 12:39] #296 closed